.auth-screen{
    background-color: #002A5D;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-card{
    background-color: #f5f5f5;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: #002A5D 1px solid;
}

.auth-card div{
    margin: 10px auto;
}
.auth-card div label{
    display: block;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
}

.auth-card div input{
    border: #002A5D 1px solid;
    border-radius: 10px;
    height: 40px;
    padding: 5px 10px;
}

.auth-card div button{
    border: none;
    background-color: #002A5D;
    color: #f5f5f5;
    padding: 5px 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}